* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
}

.flexBody {
  flex-direction: row ;
}

.firstColumn {
  width: 20%;
  height: 100%;
  padding-right: 35px;
}


.flexRow {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  margin-bottom: 7px;
}

/* Navigation */
.navigation {
  flex-direction: column;
  margin-top: 0;
  margin-right: 50px;
  margin-left: 50px;
}

.navigationText {
  margin-top: 3px;
  margin-left: 10px;
}

.tweetButton {
  background-color: rgb(29,161,242);
  border-color: transparent;
  border-radius: 30px;
  width: 210px;
  height: 43px;
  color: white;
  font-weight: bold;
}

/* Imgs */
.icon {
  width: 34px;
  height: 25px;
}